
body{
    
    font-family: sans-serif;
    background-color: ;
    height: 100%;

}

  
header {
    background-color: #278783;
    background-position: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

header h1{
    margin: 0;
}

body.accessories-page header {
  background-image: url('IMAGES/i-m-zion-H10CdHCbxFM-unsplash 3.jpg');
  background-size: cover;
  background-position: center;


}
body.Android-page header {
  background-image: url('IMAGES/evgeny-opanasenko-H8-mb0OBx6s-unsplash.jpg');
  background-size: cover;
  background-position: center;


}
body.iPhone-page header {
  background-image: url('IMAGES/branislav-rodman-Bt_Nds4n7UY-unsplash.jpg');
  background-size: cover;
  background-position: center;


}

body.cart-page header {
  background-image: url('IMAGES/pexels-ivan-samkov-7621354.jpg');
  background-size: cover;
  background-position: center;


}


  .dropdown-toggle {
  background-color: #686868;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  float: left;
  position: relative;
  z-index: 2;
}

  .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  top: calc(27% + 10px); 

  }


nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
     
}


main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
main img{
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 20px 0;
}
footer {
    background-color: #1c1c1e;
    color: white;
    text-align: center;
    position: fixed;
    border-radius: 5px;
    position: sticky;
}
p {
    font-size: 1.1em;
}

a:hover {
    text-decoration: underline;
}


.Gallery{
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: space-between;

}
.container {
    background-color: rgb(252, 248, 248);
}
.product{
    background-color: rgb(252, 248, 248);
    border-radius: 10px;
    border: 1px #d6e0d6;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 220px;
    margin-left: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);


}
.product img{
    width: auto;
    height: auto;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    
    
}

.product button{
background-color: rgb(201, 198, 198);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
border-radius: 5px;
}
